:root {
  --ifm-color-primary: #5b4fc8;
  --ifm-color-primary-dark: #4e44b5;
  --ifm-color-primary-darker: #4940ac;
  --ifm-color-primary-darkest: #3c348e;
  --ifm-color-primary-light: #6a5fd4;
  --ifm-color-primary-lighter: #7068d8;
  --ifm-color-primary-lightest: #8880e2;
}
